body {
  background-color: #f3fff9;
}

section#beranda {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section#beranda .container {
  max-width: 800px;
}

section#beranda .title {
  margin-bottom: 20px;
}

section#beranda .text {
  margin-bottom: 30px;
}

section#pengaduan {
  padding: 120px 0;
}

section#pengaduan .heading {
  margin-bottom: 30px;
}

section#pengaduan .table {
  margin-top: 30px;
}

section#tambah_pengaduan {
  padding: 120px 0;
}

section#detail_pengaduan {
  padding: 120px 0;
}

section#detail_pengaduan .container {
  display: flex;
  column-gap: 30px;
}

section#detail_pengaduan .card {
  max-width: 500px;
}

section#masyarakat {
  padding: 120px 0;
}

section#masyarakat .heading {
  margin-bottom: 30px;
}

section#masyarakat .table {
  margin-top: 30px;
}

section#detail_masyarakat {
  padding: 120px 0;
}

section#detail_masyarakat .container {
  display: flex;
  column-gap: 30px;
}

section#detail_masyarakat .card {
  max-width: 500px;
}

section#cetak .container {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
